.footer-message {
    display: flex;
    justify-content: center;
    border-top: 1px solid rgb(208, 204, 223);
    border-bottom: 1px solid rgb(208, 204, 223);
    padding: 20px 0;
    margin-top: 5%;
    font-size: small;
}

.footer-container {
    color: rgb(189, 191, 205);
    font-family: 'Kaisei Opti', serif;
    font-size: .7em;
    color: rgb(19, 19, 44);
    background-color: rgb(241, 244, 251);
    width: 100%;
    /* position: relative; */
    position: fixed;
    bottom: 0;
    /* overflow-y: scroll; */
    /* height: 680px; */
    border-top: 1px solid rgb(223, 225, 234);
}

.footer-tabs {
    display: grid;
    padding-left: 10%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.footer-title {
    font-size: large;
    color: rgb(33, 37, 66);
}

.footer-footer {
    display: flex;
    justify-content: center;
    background-color: rgb(241, 244, 251);
}

.my-links {
    padding: 50px 40px;
}

.footer-lists {
    padding: 1px 0;
}

.footer-linked {
    color: rgb(0, 0, 0);
}

.footer-linked:hover {
    color: rgb(7, 113, 62);
    /* box-shadow: 10px 10px 40px rgb(0, 255, 60); */
}

.footer-head {
    display: flex;
    height: 30px;
    padding: 20px;
    border-bottom: 1px solid rgb(214, 214, 219);
}

.footer-links {
    margin-left: 20px;
    display: flex;
    align-self: center;
    text-decoration: none;
}

.footer-links:hover {
    color: rgb(20, 34, 105);
    border-bottom: 1px solid rgb(20, 34, 105);
}

a:visited {
    color: rgb(107, 122, 162);
}


/* ===============================icons========================================= */

.git-icon {
    content: url(./git.png);
    width: 55px;
    height: 55px;
    margin-top: -5px;
}

.git-icon:hover {
    box-shadow: 3px 3px 20px rgb(126, 85, 3);
    border-radius: 30px;
    transition: ease-in-out 1.3s;
}

.email-icon {
    content: url(./mail.png);
}

.angel-icon {
    content: url(./angelist.png);
}

.linked-icon {
    content: url(./linked.png);
}

.personal-set {
    width: 40px;
    height: 40px;
}

.personal-set:hover {
    box-shadow: 3px 3px 20px rgb(126, 85, 3);
    border-radius: 40px;
    transition: ease-in-out 1.3s;
}

.personal-injury {
    padding: 50px 75px;
    border-bottom: 1px solid rgb(213, 213, 213);
}
