body {
    background-image: url('https://images.unsplash.com/photo-1568605117036-5fe5e7bab0b7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8&w=1000&q=80');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    background-color: rgb(220, 220, 230);
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
}

.booking-container {
    position: relative;
    border: 1px solid black;
    top: 200px;
    background-color: white;
    border-radius: 20px;
    width: 400px;
    margin: 0 auto;
    padding: 20px;
}

.edit-button{
    border: none;
    font-size: medium;
    display: flex;
    background-color: red;
    color: black;
    border-radius: 20px;
}
.edit-button:hover {
    box-shadow: 10px 10px 10px black;
}
