body {
    /* background-image: url('https://images.unsplash.com/photo-1568605117036-5fe5e7bab0b7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8&w=1000&q=80'); */
    /* background-size: cover; */
    background-repeat: no-repeat;
    font-family: 'Archivo', sans-serif;
    font-size: small;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
}

.delete-edit-button {
    display: flex;
}

#root {
    position: absolute;
    top: 75px;
    left: 0;
    width: 100%;
}

input {
    width: 100%;
}

.book-cancel-button {
    border: none;
    float: right;
    font-size: 20px;
    background-color: white;
}

.start-hour {
    display: flex;
}

.end-hour {
    display: flex;
}

.book-timer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    border: 1px solid black;
    background-color: white;
}

.edit-button {
    border: none;
    font-size: medium;
    height: 40px;
    background-color: rgb(214, 24, 24);
    color: white;
    width: 100%;
    text-align: center;
    border-radius: 5px;
}

.edit-button:hover {
    box-shadow: 3px 3px 10px black;
}

.bookings-container {
    height: 95%;
    overflow-y: scroll;
    overflow-x: hidden;
    overflow: overlay;

}

.booking-container {
    position: relative;
    border: 1px solid black;
    top: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 9px;
    width: 70%;
    margin: 0 auto;
    padding: 20px;

}

.home-body {
    width: 100%;
    /* height: 500px; */
}

.home-body-container {
    background-color: rgb(241, 241, 242);
    display: grid;
    /* height: 800px; */
    margin-top: -30px;
    grid-template-columns: 2fr 6fr;
    overflow-y: overlay;
}
