.image-form-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 20%;
    background-color: white;
    /* width: 500px; */
    border-radius: 15px;
    padding: 60px;
}

.img-container {
    display: flex;
    justify-content: center;
    /* max-width: 00px; */
}

.img-pupup {
    max-width: 800px;
}

.image-input {
    padding: 20px 0;
    width: 300px;
}

.add-picture {
    border: none;
    background-color: rgb(24, 11, 167);
    height: 100%;
    font-size: large;
    color: white;
    padding: 15px;
    border-radius: 2px;
}

.add-label {
    width: 100%;
}

.cancel-picture {
    background-color: blue;
    color: white;
}
