.image-form-container {
    border-radius: 15px;
    padding: 60px;
}

.img-container {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.715);
    display: flex;
    justify-content: center;
    margin: 0 auto;
    /* max-width: 00px; */
}

.img-pupup {
    max-width: 800px;
}

.image-input {
    padding: 20px 0;
    width: 300px;
}

.add-picture {
    border: none;
    background-color: rgb(24, 11, 167);
    /* height: 100%; */
    font-size: large;
    color: white;
    padding: 15px;
    border-radius: 2px;
}

.add-label {
    width: 100%;
}

.cancel-picture {
    background-color: blue;
    color: white;
    padding: 17px;
    font-size: large;
}

.image-page-images {
    background-color: white;
    width: 700px;
    height: 350px;
    overflow-y: scroll;
}

.image-form-contain {
    margin: 0 auto;
}

.image-page-image {
    min-width: 100px;
    max-width: 150px;
}

.image-placement {
    padding: 15px;
}

.image-button {
    border: none;
    background-color: inherit;
}

.single-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.674);
}

.image-buttn {
    background-color: inherit;
    border: none;
}

.image-page-image:hover {
    box-shadow: 1px 1px 10px rgb(56, 71, 144);
    transition: ease .15s;
}

.image-button-carrier {
    position: relative;
    top: 10%;
    display: flex;
    justify-content: center;
}

.the-button-image:hover {
    box-shadow: 3px 3px 20px rgb(0, 255, 166);
    transition: ease-in .25s;
}
