

.image-container {
    top: 1000px;
    border: none;
    /* position: relative; */
}

.image-sorurce {
    width: 100%;
}

.top-info-container {
    border: none;
    background-color: white;
    /* position: relative; */
    top: 100px;
    padding: 0 20px;
    display: flex;

}

.bot-grid {
    display: flex;
    flex-direction: row;
}

.this-img {
    border: black;
    width: 100%
}

.toys-desc {
    padding: 3%;
}


.toys-user-img {
    width: 100px;
}

.toys-descript {
    font-size: xx-large;
}

.toy-title {
    font-size: med;
    color: black;
}



.toys-bot {}

.image-wrapper {
    display: grid;
    /* position: relative; */
    margin-top: 100px;
    border: none;
    /* grid-row: 6; */
    /* grid-template-columns: auto; */
    /* grid-template: "a b c e f" 100px / 1fr 1fr 1fr 2fr 1fr; */
    /* grid-template: "a b c d f" 140px / 1fr 1fr 1fr 2fr 1fr; */
    /* grid-row: 1; */
}


/* .img-container-0 {
    width: 100px;
}

.img-container-1 {
    width: 100px;
}

.img-container-2 {
    width: 100px;
}

.img-container-3 {
    width: 100px;
}

.img-container-4 {
    width: 100px;
}

.img-container-5 {
    width: 100px;
} */

.toys {
    /* padding: 20px; */
}

.toys-top {
    padding: 0 20px;
    font-size: 20px;
}



.stars {
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.booking-form {
    position: sticky;
    float: right;
    width: 30%;

    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 2px 2px 2px 2px lightgray;
    background-color: white;
    top:200px
}

.details-price {
    display: flex;
    font-size: 150%;
}

.date-area {
    display: flex;
    flex-direction: column;
}

.reserve-button {
    background-color: red;
    font-size: x-large;
}

.bot-info-container {
    /* position: relative; */
    background-color: white;
}
