.toy-detail-img {}

.image-wrapper {
    /* display: grid; */
    /* position: relative; */
    /* border: none; */
    /* height: auto; */
}

.prev-img-button {}

.img-slides-row {}

.img-slides-col {}

.slide-image {
    width: 100%;
    height: auto;
    z-index: 1000;
}

.toy-detail-container  {
    display: block;

}

.details-page-container {
    background-color: white;
    width: 1000px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    z-index: 400;
    /* position: relative; */
}

.img-slide-container {
    height: fit-content;
    z-index: 500;
}

body {
    width: 1000px;
    margin: 0 auto;
    ;
}

.slide-img-next {
    border: none;
    margin: 0 auto;
    background-color: rgba(20, 20, 20, .8);
    border-radius: 50px;
    font-size: 50px;
    width: 70px;
    height: 70px;
    color: white;
    position: absolute;
    right: 15px;
    top: 200px;
}

.slide-img-next:hover {
    border-radius: 50px;
    cursor: pointer;
    background-color: rgba(20, 20, 20, .9);
}
