.image-container {
    border: 1px solid black;
    position: relative;
    top: 200px;
}

.image-sorurce {
    width: 100%;
}

.top-info-container {
    border: 1px solid black;
    background-color: white;
    position: relative;
    top: 100px;
}

.this-img {
    border: black;
    width: 200px;
}

.img-container-1
.img-container-2
.img-container-3
.img-container-4
.img-container-5


.booking-form {
    position: sticky;
    width: 30%;
    bottom: 20px;
    left: 90%;
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 2px 2px 2px 2px lightgray;
    background-color: white;
}

.date-area {
    display: flex;
    flex-direction: column;
}

.reserve-button {
    background-color: red;
    font-size: x-large;
}

.bot-info-container {
    position: relative;
    background-color: white;
}

.review-container {
    background-color: white;
}
