.reviews-cont {
    background-color: white;
    padding: 20px;
}

.review-box {
    font-size: medium;
    padding: 20px;
    border-bottom: 1px solid lightgrey;
    width: 50%;
}

.review-container {
    background-color: white;
}

.grid-cont-small  {
    display: flex;
}

.split {
    display: flex;
    padding-top: 20px;
}

.splitter {
    padding-left: 20px;
}

.date-time {
    font-size: xx-small;
    display: flex;
    padding-left: 20px;

}

.review-title {
    font-weight: 900;
}

repeat {
    display: block;
    font-size: 20px;
}

repeat[n="1"]:before {
    content: "⭐️";
}

repeat[n="2"]:before {
    content: "⭐️⭐️";
}

repeat[n="3"]:before {
    content: "⭐️⭐️⭐️";
}

repeat[n="4"]:before {
    content: "⭐️⭐️⭐️⭐️";
}

repeat[n="5"]:before {
    content: "⭐️⭐️⭐️⭐️⭐️";
}

.reviewer-picture {
    width: 50px;
    height: 50px;
    border-radius: 50px;
}
