.toy-detail-img {
    width: 100%;
}

.image-wrapper {
    display: grid;
    /* position: relative; */
    margin-top:8%;
    border: none;
}

.prev-img-button {}

.img-slides-row {}

.img-slides-col {}

.slide-image {
    width: 100%;
}

.details-page-container {
    background-color: white;
    padding: 0, 10px;
}

.img-slide-control {
    position: absolute;
    top: 250px;
    right: 100px;
    border-radius: 40px;
    background-color: red;
}

.slide-img-next {
    border: none;
    position: absolute;
    margin: 0 auto;
    background-color: rgba(20, 20, 20, 0);
    font-size: 50px;
    color: red;
}

.slide-img-next:hover {
    border-radius: 50px;
    cursor: pointer;
    background-color: rgba(20, 20, 20, .9);
}
