.toy-detail-img {

}

.image-wrapper {
    display: grid;
    position: relative;
    margin-top: 7%;
    border: none;
}

.prev-img-button {}

.img-slides-row {}

.img-slides-col {}

.slide-image {
    /* max-width: 100%; */
    width: 100%;
    height: auto;

    /* height: 100%; */
    /* z-index: 0; */
    /* height: 375px; */
}

.details-page-container {
    background-color: white;
    width: 1000px;
    display: flex;
    flex-direction: column;
    z-index: 400;
    /* left: 0; */

    /* padding: 0 10px; */
}

.img-slide-control {
    position: absolute;
    top: 50%;
    right: 100px;
    z-index: 900;
    border-radius: 40px;
    background-color: rgba(20, 20, 20 .9);
}

.img-slide-container {
    height: 375px;
    z-index: 500;
}

body {
    width: 1000px;
    margin: 0 auto;;

}

 .slide-img-next {
    border: none;
    margin: 0 auto;
    background-color: rgba(20, 20, 20, .8);
    border-radius: 50px;
    font-size: 50px;
    width: 70px;
    height: 70px;
    color: white;
}

.slide-img-next:hover {
    border-radius: 50px;
    cursor: pointer;
    background-color: rgba(20, 20, 20, .9);
}
