.errors {
    background-color: white;
    height: 20px;
}

.container {
    position: relative;
    max-width: 580px;
    height: 275px;
    margin: auto;
    background-color: rgb(255, 255, 255);
    padding-left: 12px;
    padding-right: 12px;
    box-shadow: 3px 3px 20px grey;
    border-radius: 10px;
    top: 150px;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    z-index: 500;
    /* overflow-y: auto; */
}

.login-body {
    background-image: url(./photo-1568605117036-5fe5e7bab0b7.jpeg);
    margin-top: -50px;
    height: 850px;
    background-size: cover;
    position: relative;
    margin-right: -25px;

}

.signin-button {
    padding: .5rem 1rem;
    width: 95%;
    height: 2.5rem;
    border: none;
    border-radius: 15px;
    outline: .0625rem solid transparent;
    background-color: lightblue;
    margin: 20px;
    font-size: small;
}

.signin-button:hover {
    background-color: rgb(200, 40, 40);
    color: white;
}

.login-container {
    position: relative;
    max-width: 480px;
    /* height: 550px; */
    margin: auto;
    /* min-height: .0625rem; */
    padding-left: 12px;
    padding-right: 12px;
    box-sizing: border-box;
    border-radius: 10px;
}

.username-label {
    background-color: white;
    font-size: small;
    /* position: absolute;
    display: inline-block;
    margin-top: .5rem;
    z-index: 1;
    text-align: left;
    pointer-events: none;
    margin-left: 1rem;
    transition: all .2s ease-in-out; */
}

.input-area {
    /* padding: .5rem 1rem;
    width: 100%;
    height: 2.5rem;
    border: .0625rem solid #959595;
    border-radius: 0;
    outline: .0625rem solid transparent; */
}

.input-lot {}

.password-label {
    background-color: white;
    font-size: small;
    /* position: absolute;
    display: inline-block;
    margin-top: .5rem;
    z-index: 1;
    text-align: left;
    pointer-events: none;
    margin-left: 1rem;
    transition: all .2s ease-in-out; */
}
