.signup-body {
    background-image: url(./1934572.webp);
    height: 1000px;
    margin-top: -50px;
    background-size: cover;
    position: relative;
    margin-right: -25px;
}

.form-container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.login-form {
    padding-bottom: 100px;
    margin-bottom: 500px;
}

.signup-container {
    position: relative;
    max-width: 500px;
    height: 600px;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    padding-left: 12px;
    padding-right: 12px;
    box-shadow: 3px 3px 20px grey;
    border-radius: 10px;
    top: 150px;
}


.container-lot {
    /* padding: .5rem 1rem;
    width: 100%;
    height: 2.5rem;
    border: .0625rem solid #959595;
    border-radius: 0;
    outline: .0625rem solid transparent; */
}

.input-lot {
    width: 400px;
    height: 30px;
    padding: 10px 0;
}

.email-conmtainer {}

.username-container {}

.pass-container {}

.confirmPass-container {}

.button-container {
    width: 100%;
}

.email-label {
    margin-top: 25px;
    font-size: small;
}

.confirmPass-label {}

.input-area {
    height: 100%;
    width: 100%;
    border: none;
    border-bottom: 1px solid rgb(100 100 100);
    background: transparent;
    font-size: medium;
}

.error-msg {
    color: red;
    overflow-y: auto;
    padding: 10px 0;
}

.submit-button {
    padding: .5rem 1rem;
    width: 95%;
    height: 2.5rem;
    border: none;
    border-radius: 15px;
    outline: .0625rem solid transparent;
    background-color: lightblue;
    margin: 20px;
    font-size: larger;
}

.submit-button:hover {
    background-color: rgb(200, 40, 40);
    color: white;
}

.dropdown-items {
    padding: 20px 0;
}

.logout-button {
    border: none;
    width: 100%;
    border-radius: 20px;
    background-color: rgb(208, 185, 230);
}
