.user-upload {
    display: flex;
    justify-self: center;
    border-radius: 400px;
    width: 400px;
    padding: 20px;
    max-height: 400px;
    min-height: 220px;
}

.user-container {
    width: 600px;
    margin: 0 auto;
}
