.edit-form-popup-container {
    /* position: inherit; */
    top: 200px;
    right: 500px;
    background-color: white;
}

.edit-toy-container {
    position: fixed;
    top: 0px;
    left: 0;
    height: 100%;
    background-color: rgba(0, 0, 255, 0.366);
    width: 100%;
}

.edit-toy-form {
    padding: 70px;
}

.host-form-container {}

.edit-toy-input {
    width: 100%;
    height: 40px;
}

.edit-form {
    position: relative;
    top: 10%;
    margin: 0 auto;
    width: 70%;
    background-color: white;
    border-radius: 10px;
}

.edit-toy-texarea {
    width: 100%;
    height: 100px;
    resize: none;
}

.host-edit-submit {
    border-radius: 5px;
}

.add-pics-butt {
    background-color: inherit;
    border: none;
    color: blue;
    font-size: small;
    height: 40px;
    margin-left: 200px;
}

.add-pics-butt:hover {
    box-shadow: 1px 1px 10px rgb(36, 33, 36);
    background-color: blue;
    color: white;
}

.cancel-butt-edit {
    color: red;
    font-size: small;
    background-color: inherit;
    border: none;
}

.cancel-butt-edit:hover {
    box-shadow: 1px 1px 10px rgb(36, 33, 36);
    color: white;
    background-color: red;
}

.user-canceled {
    border: 1px solid rgb(174, 174, 194);
    width: 45px;
    height: 45px;
    border-radius: 30px;
    font-size: 200%;
    float: right;
    margin-top: 10px;
    margin-right: 10px;
    background-color: rgba(0, 0, 0, 0);
}

.user-canceled:hover {
    cursor: pointer;
    background-color: rgb(55, 63, 63);
    color: white;
}

.mod-buttons {
    width: 100%;
    /* background-color: red; */
    border-radius: 5px;
}

.buttons-container {
    /* width: 50%; */
    display: flex;
    justify-content: space-around;
}
