.edit-form-popup-container {
    /* position: inherit; */
    top: 200px;
    right: 500px;
    background-color: white;
}
.edit-toy-container {
    position: relative;
}

.host-form-container {}

.edit-form {}

.host-edit-submit {
    border-radius: 5px;
}

.add-pics-butt {
    background-color: yellow;
    color: black;
}

.cancel-butt-edit{
    color: white;
    background-color: red;
}

.user-canceled {
    border: none;
    font-size: 200%;
    position: inherit;
    float: left;
    background-color: rgba(0, 0, 0, 0);
    align-self: flex-end;
}

.user-canceled:hover {
    cursor: pointer;
}

.mod-buttons {
    width: 100%;
    /* background-color: red; */
    border-radius: 5px;
}

.buttons-container {
    width: 97%;
    display: flex;
}
