.each-toy {
    background-color: white;
    border-radius: 25px;
    /* top: 100px; */
    width: 20%;
    padding: 10px 40px;
    margin-top: 10px;

}

.edit-booking-button {
    width: 50%;
    border-radius: 100px;
    background-color: red;
    color: white;
    font-size: 25px;
}

.edit-toy-container {
    /* position: relative; */

    /* top: 100px; */
    /* background-color: white; */
}

.users-toys {
    margin-top: 100px;
    /* position: absolute; */
    /* top: 1000px */
    /* z-index: 1000; */
}
